Options -Indexes
Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi .html

<filesMatch "\.(gif|png|jpeg|jpg)$">
FileETag None
<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>
</filesMatch>

<Files ^(*.gif|*.png|*.jpg|*.jpeg)>
order deny,allow
deny from all
</Files>

# ErrorDocs
ErrorDocument 400 /noimage.gif
ErrorDocument 401 /noimage.gif
ErrorDocument 403 /noimage.gif
ErrorDocument 404 /noimage.gif
ErrorDocument 500 /noimage.gif